<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>140946899259-3nsj74kcnu0dvj6u01jim6dimmck459s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.140946899259-3nsj74kcnu0dvj6u01jim6dimmck459s</string>
	<key>API_KEY</key>
	<string>AIzaSyBEnFVxyPOgdlsouHzd6zzCTCu0jFPvvGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>140946899259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>firebase-functions-sample-10</string>
	<key>STORAGE_BUCKET</key>
	<string>firebase-functions-sample-10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140946899259:ios:29ac56911a1fdddb11f71e</string>
</dict>
</plist>